:host {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: auto;
  gap: 15px;

  width: 100%;
  padding: 150px 50px;
}

.addTodoForm {
  position: absolute;
  width: 300px;

  top: 0;
  left: 50%;
  transform: translateX(-50%);

  border: 1px solid black;
}

.logoutBtn {
  position: absolute;
  top: 15px;
  right: 15px;
}
